<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% block css %}
        <style type="text/css">
            .container {
                width: 1000px;
                margin: auto;
            }
            table {
                width: 100%;
            }
            td {
               border: 1px solid gray;
            }
            .r {
                float: right;
            }
            .clear {
                clear: both;
            }
            .alert {
                border: 1px solid black;
                text-align: center;
            }
        </style>
    {% endblock %}
</head>
<body>
    <div class="container">
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}

        <a href="{{ path('test-upload') }}">
            {% if app.request.get('_route') == 'test-upload' %}
                refresh
            {% else %}
                index
            {% endif %}
        </a>
        {% block body %}
        {% endblock %}
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="//jquery.com/jquery-wp-content/themes/jquery/js/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <script src="/bundles/stopsopautils/js/jQuery-File-Upload-9.10.0/js/vendor/jquery.ui.widget.js"></script>
    <script src="/bundles/stopsopautils/js/jQuery-File-Upload-9.10.0/js/jquery.iframe-transport.js"></script>
    <script src="/bundles/stopsopautils/js/jQuery-File-Upload-9.10.0/js/jquery.fileupload.js"></script>

    <script src="/bundles/stopsopautils/utils/form.collection.js"></script>
    <script src="/bundles/stopsopautils/utils/form.blueimp.js"></script>
    <link rel="stylesheet" type="text/css" href="/bundles/stopsopautils/utils/form.blueimp.css" />

    {% block js %}
        <script type="text/javascript">

            function log(l) {try{console.log(l);}catch (e) {}};

            $(function () {

                $.formcollection('data-form-collection', {
                    confirm: function (confirmed, name) {
                        if (confirm('Usunąć element "'+name+'"?')) {
                            confirmed();
                        }
        //                return;
        //
        //                swal.confirm('Usunąć element "'+name+'"?', function () {
        //                    t.remove();
        //                });

                    },
                    added: function (row, list) {

                    },
                    existing: function (row, list) {

                    },
                    addedandexisting: function (row, list, addflat) {
                        row.blueimp({
                            tmpready            : '[data-tmp-ready-comment]',
                            tmpdone             : '[data-tmp-done-comment]',
                            tmperror            : '[data-tmp-error-comment]',
                        });
                    },
                    remove: function (row, list, callback) {
                        //setTimeout(callback, 1000);
                        callback();
                    }
                })



            })
        </script>
    {% endblock %}

    {% include 'StopsopaUtilsBundle::browsersync.html.twig' %}
</body>
</html>