{% extends "StopsopaUtilsBundle:upload:base.html.twig" %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h3>Create user</h3>
    {{ form(form) }}
{% endblock %}

{% block js %}

{% endblock %}